<h2>Send with the following sonics.</h2>

<%= form_with(model: @sonic, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p class="indexcontent">Content:<%= @sonic.content %></p>

  <%= form.submit  "Sign up" %>
  <%= form.submit "Back", name: "back" %>
<% end %>
